.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
move.js
.babelrc
LICENSE
.eslintrc.js
postcss.config.js
.jsdoc.json
dist/index.html
/docs
/docs-history
/public
/src
/config
/theme
/assets